.idea
config_files/
mocks/
connector/reader/tmp/
.venv/
main.py
pipeline.conf
udf.py
connectors-sdk.iml
.vscode/
bin/
lib/
.venv
pyvenv.cfg
__pycache__/
env/
include/
gcp-local-key/
.DS_Store
tmp/
temp/
bin/
lib/
pyvenv.cfg
LOOQBOX_CREDENTIALS.json
